

#toast{
    position:fixed;
    top: 0;
    left: 50%;
    transform:translate(-50%);
    background-color: red;
    color:#fff;
    padding:16px;
    border-radius:4px;
    text-align:center;
    z-index:100000000000000000000000000000000000000000000000000000000000000000000000!important;
    visibility: hidden;
    opacity:0;
  }

  

 #toast.show{
    visibility:visible;
    animation:fadeInOut 3s;
  }
  
 
  #yeetme{
    color: black;
  }
  @keyframes fadeInOut{
    5%,95%{opacity:1;top:50px}
    15%,85%{opacity:1;top:30px}
  }

  .g{
    display: block;
  }

  .t{
    display: none;
  }

  .b{
    display: none;
  }

  .y{
    display: none;
  }

  #variation-select{
    background: white;
    border: transparent;
    width: 130px;
    height: 30px;
    font-family: montserrat;
  }

  .product-slider{
    position: absolute;
    left: 0;
  }